.carPanel table tr td{
    float: left;
    font-size: 12px;
    font-weight: bold;
}

.carPanel table tr td{
    padding-bottom: 5px;
}

.carPanel table tr td:nth-child(1){
    text-transform: uppercase;
} 

.carPanel table tr td:nth-child(2){
    color: #d000ff;
    font-size: 13px;
    padding-left: 5px;
} 

.carPanel table .car-label{
    color: #333 !important;
}

.state_name{
    font-size: 16px;
}
.stats_label{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}
.stats_desc{
    float: left;
    /*font-size: 15px;*/
}
.lat_long .lat_point{
    display: inline-block;
}
.speed{
    clear: both;
}
.time_dest .stats_label{
    width: 145px;
}
.time_dest .stats_desc{
    margin-top: -3px;
    color: #d000ff;
}
.speed .stats_label{
    width: 50px;
}
.speed .stats_desc{
    margin-top: -3px;
    color: #d000ff;
}
.lat_long .stats_label{
    width: 65px;
}
.lat_long .stats_desc{
    margin-top: -3px;
    color: #d000ff;
}
.state_name .stats_label{
    width: 45px;
}
.state_name .stats_desc{
    margin-top: -3px;
}

.load_ev_icon {
    top: 26px;
    right: 2px;
    background: #fff;
    width: 23px;
    height: 23px;
    border: 1px solid #f29d67;
    font-size: 12px !important;
    padding: 1px 0px;
    border-radius: 15px;
    cursor: pointer;
    /* color: #f29d67; */
    color: #f90202;
    font-weight: bolder;
    margin-left: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
}

.disable_ev {
  border: 1px solid #ccc;
  color: #fff;
  background: #aaa;
}
