.login_button {
    background: #93c849 !important;
}

.register_btn {
    background: #93c849 !important;
}
.sing_in_wrapper{
	width: 400px !important;
	    min-height: 270px;
	margin: 60px auto;
    border: 1px solid #ccc;
    padding: 35px 0px;
}
.sing_in_wrapper button {
 	background-color: #93c849 !important;
}
.login_footer{
  margin-top: 30px;
}
.auto_address{
  position: relative;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.auto_address .autoComplete{
      border: none;
      border-bottom: 1.5px solid #e0e0e0;
      width: 258px;
      height: 26px;
      margin-top: 40px;
}
.scenario-dropdown{
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  font-family: Roboto, sans-serif;
  opacity: 1;
}

.auto_address .autoComplete_placeholder,.scenario-dropdown .autoComplete_placeholder{
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: scale(1) translate(0px, 0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  position: absolute;
    bottom: 3px;
    left: 70px;
}

.auto_address .autoComplete::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.auto_address .autoComplete::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.auto_address .autoComplete:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.auto_address .autoComplete:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.auto_address .autoComplete:-webkit-input-placeholder {
  color: #fff;
}
.auto_address .autoComplete:focus {
  outline: none;
}
.focus_auto_address .autoComplete_placeholder{
  transform: scale(0.75) translate(0px, -28px);
  color: rgb(0,188,212);

}
.autoBorder{
  border-bottom: 2px solid rgb(0, 188, 212);
  width: 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  left: 50%;
}
.focus_auto_address .autoBorder{
  width: 258px;
  left: 70px;
  bottom: 0px;
}
.focus_auto_address .autoComplete::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b7b7b7;
  font-weight: normal;
}
.focus_auto_address .autoComplete::-moz-placeholder { /* Firefox 19+ */
  color: #b7b7b7;
  font-weight: normal;
}
.focus_auto_address .autoComplete:-ms-input-placeholder { /* IE 10+ */
  color: #b7b7b7;
  font-weight: normal;
}
.focus_auto_address .autoComplete:-moz-placeholder { /* Firefox 18- */
  color: #b7b7b7;
  font-weight: normal;
}
.focus_auto_address .autoComplete:-webkit-input-placeholder {
  color: #b7b7b7;
  font-weight: normal;
}
.focus_false_at_data_avail .autoComplete_placeholder {
  transform: scale(0.75) translate(0px, -28px);
}

.focus_false_at_data_avail .autoComplete {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.filled_status .autoComplete_placeholder{
  color: rgba(0, 0, 0, 0.3) !important;
}
.filled_status .autoComplete{
  border-bottom: 1.5px solid #e0e0e0 !important;
}
.autoComplete::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: Roboto, sans-serif;
  opacity: 1;
  font-weight: bold;
  font-size: 16px;
}

#edit-profile .auto_address .autoComplete_placeholder{
  left: 0px;
}

#btn-submit-container .auto_address .autoComplete_placeholder{
  left: 25px;
}

#btn-submit-container .focus_auto_address .autoBorder{
  left: 20px;
}

#edit-profile .focus_auto_address .autoBorder{
  left: 0px;
}
.edit-profile-settings  input{
  font-size: 16px !important;
}
#edit-profile .auto_address .autoComplete{
  margin-top:30px;
}
