.login_button {
    background: #93c849 !important;
}

.register_btn {
    background: #93c849 !important;
}
.sing_in_wrapper{
	width: 400px !important;
	    min-height: 270px;
	margin: 60px auto;
    border: 1px solid #ccc;
    padding: 35px 0px;
}
.sing_in_wrapper button {
 	background-color: #93c849 !important;
}
.login_footer{
  margin-top: 30px;
}
.auto_address{
  position: relative;
  width: 100%;
  font-family: Roboto, sans-serif;
}


.scenario-dropdown{
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  font-family: Roboto, sans-serif;
  opacity: 1;
}

.map-container{
  margin-top:10px;
}
